<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS330DZ12AnteaPrimorac5157"
        android:name="rs.ac.metropolitan.cs330_dz12_anteaprimorac5157.App"
        >
        <activity
            android:name="rs.ac.metropolitan.cs330_dz12_anteaprimorac5157.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CS330DZ12AnteaPrimorac5157">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>